/*
Plugin Name: Pinterest Pin It Button For Images
Plugin URI: http://www.canha.net
Description: Displays a Pin It button directly over your images
Author: Canha
Author URI: http://www.canha.net
*/

.xc_pin {display:block; width:80px; height:50px; background:url('xc_pinterest.png'); z-index:10; margin:0 0 -50px 10px; position:relative; float:left;}
.xc_pinterest .xc_pin {display:none}
.xc_pinterest:hover .xc_pin {display:block;}
